<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Indicar que el hardware de cámara no es obligatorio -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/intellihome"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiPrimerAplicacion"
        tools:targetApi="31"
        android:usesCleartextTraffic="true">

        <!-- Actividad de salida -->
        <activity android:name=".ExitActivity" android:exported="false"/>

        <!-- Actividad principal-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".TestLeds" />
        <activity android:name=".AddHouseActivity" />
        <activity android:name=".ViewHouseActivity" />
        <activity android:name=".MapActivity" android:exported="true" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA5ikt9YH6rWFkicwz6Nt74FnZKLEBSBR4" />

    </application>

</manifest>
